<!DOCTYPE html>
<html ng-app="rebates">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="customersCtrl as customersCtrl">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <div class="stage" id="stageTitle">
	    <h1>$MARTwater</h1>
	    <h2 style="font-weight:300;">$ave Money One Drop at a Time</h2>
	    <div id="clickpic" onclick="changeHouse();" style="width:50%; margin:0 auto;">
		    <img id="housepic" src="Home_NoneSelected.png" style="height:400px;"/>
	    </div>
    </div>

    <div class="stage" id="stageQ1" style="display:none;">
	    <div style="display:inline-block">
		    <div id="modelsQuestion">
		        <h4>What model do you currently own?<h4>
		    </div>

		    <select ng-model="model.id" convert-to-number>
		      <option value="0">{{names[3].model}}</option>
		    </select>
		</div>
	    <!-- <div style="display:inline-block"> -->
	        <img src="toilet_icon-01.png" class="toilicon" style="display:inline-block"/>
	        <img src="toilet_icon-01.png" class="toilicon" style="display:inline-block"/>
	        <img src="toilet_icon-01.png" class="toilicon" style="display:inline-block"/>
        <!-- </div> -->
	    <br>
	
	   
    </div>
    
    <article ng-show="model.id == '0'">
    	<div class="stage" id="stageQ2">
	    <!-- Dropdown for first option -->
	    <div class="newModel0">
	            <h4>What model do you want to buy?</h4>

	        <select ng-model="newToilet.id" 
	                ng-init='newToilet.id = ""'convert-to-number>
	          <option value=""></option>
	          <option value="0">{{names[0].model}}</option>
	          <option value="1">{{names[1].model}}</option>
	          <option value="2">{{names[2].model}}</option>
	        </select>
	    </div>
		</div>
    </article>


    <!-- Dropdown for second option -->
    <article ng-show="model.id == '1'">
    	<div class="stage" id="stageQ2">
	    <div class="newModel1">
            <h4>What model do you want to buy?</h4>

        <select ng-model="newSprinkler.id" 
        ng-init='newSprinkler.id = ""' convert-to-number>
          <option value=""></option>
          <option value="0">New Sprinkler Zero</option>
          <option value="1">New Sprinkler One</option>
          <option value="2">New Sprinkler Two</option>
        </select>
	    </div>
		</div>
    </article>

    <!-- Dropdown for second option -->
    <article ng-show="model.id == '2'">
    	<div class="stage" id="stageQ2">
	    <div class="newModel2">
            <h4>What model do you want to buy?</h4>

        <select ng-init='newWashingMachine.id = ""' 
            ng-model="newWashingMachine.id" convert-to-number>
          <option value=""></option>
          <option value="0">New Washing Machine Zero</option>
          <option value="1">New Washing Machine One</option>
          <option value="2">New Washing Machine Two</option>
        </select>
	    </div>
	    </div>
    </article>


    <article ng-show='newToilet.id != "" || newSprinkler.id != "" || newWashingMachine.id != ""'>
		<div class="stage" id="stageCompare">
    	<div style="width:50%; margin:0 auto;">
	    <div ng-controller="customersCtrl" class="compareAndSave">
        <br>
            <div> 
                <p>{{names.model}}</p>
                <table class="table">


                  <tr><td>Model Name</td><td>{{names[3].model}}</td><td>{{names[1].model}}</td></tr>
                    <tr><td>Model</td><td><img ng-src="{{names[3].picture}}" class="comptoilpic"/></td><td><img ng-src="{{names[1].picture}}" class="comptoilpic"/></td></tr>


                  <tr><td>Gallons per flush</td><td>{{names[3].gpf}}</td><td>{{names[1].gpf}}</td></tr>
                <tr>
                     <td>Price</td>
                     <td>{{names[3].price}}</td><td>{{names[0].price}}</td>
                     <tr>

                     <td>Get $mart Now!</td>

                     <td><a ng-href="{{names[3].amazon}}"><img ng-src="button_donate.png" class="comptoilpic"/></a></td>
                     <td><a ng-href="{{names[1].amazon}}"><img ng-src="button_buy.png" class="comptoilpic" /></a></td>


                     </tr>

                  </tr>
                </table>
            </div>

            <p>Total Rebate {{toiletRebate * devices}}</p>
            <p>Total Water Saved {{(names[3].gpf - names[newToilet.id].gpf).toFixed(2)}}</p>

		</div>
        </div>
	    </div>
    </article>


<div class="stage" id="stageFooter">
Arezu, Rashmi, Kevin, Reng @ IP HACKATHON
</div>

  </body>
  

</html>