<!DOCTYPE html>
<html ng-app="rebates">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="customersCtrl">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <div class="stage" id="stageTitle">
	    <h1>$MARTwater</h1>
	    <div id="clickpic" onclick="changeHouse();" style="width:50%; margin:0 auto;">
		    <img id="housepic" src="Home_NoneSelected.png" style="height:400px;"/>
	    </div>
    </div>

    <div class="stage" id="stageQ1">
	    <div id="modelsQuestion">
	        <h4>What model do you currently own?<h4>
	    </div>

	    <select ng-model="model.id" convert-to-number>
	      <option value="0">Toilet Zero</option>
	      <option value="1">Toilet One</option>
	      <option value="2">Toilet Two</option>
	    </select>
	    <br>
	
	    <h4>How many devices do you want to buy?</h4>
	    <div counter value="devices" min="0"></div>

    </div>
    
    <article ng-show="model.id == '0'">
    	<div class="stage" id="stageQ2">
	    <!-- Dropdown for first option -->
	    <div class="newModel0">
	            <h4>What model do you want to buy?</h4>

	        <select ng-model="newToilet.id" 
	                ng-init='newToilet.id = ""'convert-to-number>
	          <option value=""></option>
	          <option value="0">New Toilet Zero</option>
	          <option value="1">New Toilet One</option>
	          <option value="2">New Toilet Two</option>
	        </select>
	    </div>
		</div>
    </article>


    <!-- Dropdown for second option -->
    <article ng-show="model.id == '1'">
    	<div class="stage" id="stageQ2">
	    <div class="newModel1">
            <h4>What model do you want to buy?</h4>

        <select ng-model="newSprinkler.id" 
        ng-init='newSprinkler.id = ""' convert-to-number>
          <option value=""></option>
          <option value="0">New Sprinkler Zero</option>
          <option value="1">New Sprinkler One</option>
          <option value="2">New Sprinkler Two</option>
        </select>
	    </div>
		</div>
    </article>

    <!-- Dropdown for second option -->
    <article ng-show="model.id == '2'">
    	<div class="stage" id="stageQ2">
	    <div class="newModel2">
            <h4>What model do you want to buy?</h4>

        <select ng-init='newWashingMachine.id = ""' 
            ng-model="newWashingMachine.id" convert-to-number>
          <option value=""></option>
          <option value="0">New Washing Machine Zero</option>
          <option value="1">New Washing Machine One</option>
          <option value="2">New Washing Machine Two</option>
        </select>
	    </div>
		</div>
    </article>


    <div class="compare">
        <br>
        <article ng-show='newToilet.id != "" || newSprinkler.id != "" || newWashingMachine.id != ""'>
            <p>This should show up. It's the compare. WEEEEEE!!!!</p>
        </article>
        
    </div>

    <div ng-controller="customersCtrl"> 

<table>
  <tr><td>Model Name</td><td>{{names[0].model}}</td><td>{{names[1].model}}</td></tr>
    <tr><td>Model</td><td><img ng-src="{{names[0].picture}}" height="42" width="42"/></td><td><img ng-src="{{names[1].picture}}" height="42" width="42"/></td></tr>

  <tr><td>Gallons per flush</td><td>{{names[0].gpf}}</td><td>{{names[1].gpf}}</td></tr>
<tr>
     <td>Price</td>
     <td>{{names[0].price*devices}}</td><td>{{names[0].price}}</td>
     <tr>
     <td>Get Smart Now!</td>
     <td><a ng-href="{{names[1].amazon}}"><img ng-src="{{names[0].picture}}" height="42" width="42"/></a></td>
     <td><a ng-href="{{names[1].amazon}}"><img ng-src="{{names[0].picture}}" height="42" width="42" /></a></td>
     </tr>

  </tr>
</table>
</div>

  </body>
  

</html>