body {
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #7FADE5;
	font-family: "Raleway";
}

h1 {
	font-size: 100px;
	text-align: center;
	padding-bottom: 50px;
	color: white;

}

.stage {
	width:100%;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 200px;
	padding-right: 200px;
}
	
#stageTitle {
	padding-bottom: 60px;
	/*min-height: 100%;*/
}

#stageQ1 {
	background-color: white;
	

}
#stageQ2 {
	background-color: #6387B2;
}