body {
	padding-top: 50px;
	padding-bottom: 0px;
	background-color: #7FADE5;
	font-family: "Raleway";
	font-weight: 500;
}

h1 {
	font-size: 100px;
	text-align: center;
	/*padding-bottom: 10px;*/
	color: white;
}

h2 {
	color: white;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 40px;
}

.stage {
	width:100%;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 200px;
	padding-right: 200px;
}
	
#stageTitle {
	padding-bottom: 60px;
	/*min-height: 100%;*/
}

#stageQ1 {
	background-color: white;
	

}
#stageQ2 {
	background-color: #6387B2;
}

#stageCompare {
	background-color: #394D66;
	color: white;
}


#stageFooter {
	padding-bottom: 40px;
	padding-top: 40px;
	font-size: 20px;
	text-align: right;
	color: white;
}

.comptoilpic {
	height:100px;
	width:100px;
}

.buynow {
	width:100px;
	
}

.toilicon {
	height: 150px;
}